.style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.full-name{
    display: flex;
    gap: 5px;
    font-weight: bold;
}
.car-informations{
    width: 100%;
    height: 100%;
    display: flex;
    height: min-content;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2px;
    padding: 5px;
}
.group{
    display: flex;
    gap: 2px;
}
.text-style{
    font-size: clamp(0.5rem, 5vw, 1rem);
}
.image{
    display: flex;
    width: 100%;
    max-width: 500px;
    background-image: url('../../assets/images/backgrounds/slider-vehicle-background.png');
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .15s;
    margin-inline: auto;

}
.currency-image{
    display: block;
    width: clamp(10px, 5vw, 20px);
    aspect-ratio: 1;
}
.car-image{
    display: flex;
    width: 100%;
    scale: 0.9;
    transition: .2s;
}
.image:hover{
    opacity: 0.6;
    cursor: pointer;
}
.footer{

}