@font-face {
  font-family: TheBuster;
  src: url("./assets/fonts/The Buster.ttf");
}
@font-face {
  font-family: Pilot;
  src: url("./assets/fonts/PilotCommand-3zn93.otf");
}

:root{
  --nav-background-color: #2a2b2f;
  --background-color: #1f1f1f;
  --font-color-light: white;
  --font-color-hover-nav: #FF00ED;
  --defalut-font-color: black;
}
html{
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}